table {
    border-collapse: collapse;
    width: 300px;
    height: 300px;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}
table, td {
    border: 2px solid black;
}
td {
    width: 30%;
    height: 30%;
    text-align: center;
}

.click-enabled {
    cursor: pointer;
}

.click-disabled {
    cursor: default;
}
body {
    text-align: center;
}
header {
padding: 10px;
font-size: 30px; 
}
footer {
padding: 10px;
font-size: 20px; 
}
